*.elc
*.eln
*.xlsx
*.xls
*.pptx
*.ppt
*.docx
*.doc
*.csv
*.el~
*.elc
*.eln
elpa
auto-save-list
places
custom.el
package-quickstart.el
snippets
transient
mason
autoload
plugged
lazy-lock.json
lazyvim.json
