/* GENERAL */
@define-color background #000000;
@define-color foreground #ffffff;
@define-color red #ff0000;
@define-color green #ff0000;
@define-color gray #808080;
@define-color magenta #ff00ff;
@define-color yellow #ffff00;

* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

/* LEFT */
#workspaces {
    background-color: @background;
    border-radius: 8px;
    color: @foreground;
    font-weight: bold;
    margin: 0 4px;
}

#workspaces button {
    background-color: @base;
    color: @foreground;
    padding: 0 4px;
}

#workspaces button:hover {
    background: @gray;
    color: @foreground;
}

#workspaces button.active {
    background-color: @green;
    color: @background;
}

#workspaces button.focused {
    background-color: @green;
    color: @background;
}

#workspaces button.urgent {
    background-color: @red;
    color: @background;
}

#window {
    margin: 0 4px;
}

/* RIGHT */
#cpu {
    background-color: @background;
    border: solid 2px @gray;
    border-radius: 8px;
    color: @foreground;
    padding: 0 8px;
}

#memory {
    background-color: @background;
    border: solid 2px @gray;
    border-radius: 8px;
    color: @foreground;
    padding: 0 8px;
}

#pulseaudio {
    background-color: @background;
    border: solid 2px @gray;
    border-radius: 8px;
    color: @foreground;
    padding: 0 8px;
}

#pulseaudio.muted {
    background-color: @background;
    color: @foreground;
}

#battery {
    background-color: @background;
    border: solid 2px @gray;
    border-radius: 8px;
    color: @foreground;
    padding: 0 8px;
}

#battery.charging, #battery.plugged {
    background-color: @background;
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @background;
    color: @red;
}

#clock {
    background-color: @background;
    border: solid 2px @gray;
    border-radius: 8px;
    color: @foreground;
    padding: 0 8px;
}

#tray {
    background-color: @background;
    border: solid 2px @gray;
    border-radius: 8px;
    padding: 0 8px;
}
